In [ ]:
#Mounting google drive
from google.colab import drive
drive.mount("/content/gdrive")

path = "/content/gdrive/MyDrive/MachineLearning_Fall21/Raw_Data/"

Mounted at /content/gdrive

In [3]:
print("test josh - I'm testing this with the group")

test josh - I'm testing this with the group

In [ ]:
import pandas as pd
import gzip

def readGz(f):
    for l in gzip.open(f):
        yield eval(l)

In [ ]:
compiledRatings = dict()

for l in readGz(path+"train.json.gz"):
    row = l['reviewHash']
    userRating = dict()

    userRating['reviewTime'] = l['reviewTime']
    userRating['reviewText'] = l['reviewText']
    userRating['helpful'] = l['helpful']
    userRating['reviewerID'] = l['reviewerID']
    userRating['reviewHash'] = l['reviewHash']
    userRating['categories'] = l['categories']
    userRating['unixReviewTime'] = l['unixReviewTime']
    userRating['itemID'] = l['itemID']
    userRating['rating'] = l['rating']
    userRating['summary'] = l['summary']
    userRating['categoryID'] = l['categoryID']
    
    compiledRatings[row] = userRating

In [ ]:
df_train = pd.DataFrame(compiledRatings).T

In [ ]:
df_train

             reviewTime  ... categoryID
R798569390  09 26, 2013  ...          0
R436443063   02 7, 2013  ...          0
R103439446  03 16, 2014  ...          0
R486351639  03 10, 2014  ...          0
R508664275  07 30, 2013  ...          0
...                 ...  ...        ...
R285432298  01 26, 2013  ...          0
R454986738   04 2, 2013  ...          0
R088851171  09 22, 2012  ...          0
R524991477  12 27, 2013  ...          0
R695913313   03 1, 2014  ...          4

[200000 rows x 11 columns]